.new-user-container {
  margin: 15px auto;
  width: 90%;
}

.new-user-container h3 {
  margin: 15px 0;
}

.new-user-form-container {
  align-items: center;
  background-color: #f2fffc;
  box-shadow: 0 0 1px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 80px;
  padding: 5px 15px;
}

.new-user-form-container p {
  color: red;
  font-size: 12px;
  margin: 10px 0;
}

.new-user-form-container form {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.new-user-form-container input, .new-user-form-container select {
  border: 1px solid rgb(189, 184, 184);
  border-radius: 4px;
  padding: 8px;
  width: 230px;
}

.new-user-form-container button {
  align-self: center;
  background-color: #036b52;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  height: 35px;
  padding: 0 10px;
}

.new-user-form-container button:hover {
  background-color: #036b52;
  box-shadow: 0 0 5px #036b52;
}

.new-user-form-container button:disabled {
  background-color: #036b5383;
}

.input-container label {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

.input-container input, .input-container select {
  margin-top: 5px;
}
